/* ==UserStyle==
@name           intra 42 hollow knight
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Hollow Knight theme for Intra 42
@author         mars
@homepageURL    https://github.com/theMark001/intra42-themes
@updateURL      https://github.com/theMark001/intra42-themes/raw/refs/heads/main/hollow_knight.user.css
==/UserStyle== */

.profile-item-top {
	background-image: url(https://i.pinimg.com/originals/ac/23/58/ac23582ee2d39adad7713d46a8093069.gif) !important;
}

:root {
--theme-color: #2b457a;
--theme-color-dark: var(--theme-color);
--theme-color-light: var(--theme-color);
--logtime-chart-24h-color: var(--theme-color);
}

.coalition-span {
	color: var(--theme-color) !important; 
}

.user-header-box {
	ol {
			li {
					background-color: var(--theme-color) !important; 
			}
	}
}

.coalition-flag--flag {
	fill: var(--theme-color) !important;
}

.progress-bar {
	background-color:var(--theme-color) !important;
}